<div class="container print-letter">
    <div class="outer">
        <div class="inner">
            <div class="side-panel">
                <div class="name section">
                    <span>Mark</span><span>Thompson</span>
                </div>

                <div class="title section">
                    <span>Full Stack Developer</span>
                </div>

                <div *ngFor="let ele of sidePanelElements">
                    <div class="header">
                        {{ ele.header }}
                    </div>
                    <div class="item-groups">
                        <div *ngFor="let items of ele.itemGroups" class="item-group">
                            <div *ngFor="let item of items" class="item">
                                {{ item }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-panel">
                <div class="desc">
                    {{ desc }}
                </div>
                <div *ngFor="let ele of mainPanelElements">
                    
                    <div class="header">
                        {{ ele.header }}
                    </div>
                    <div *ngFor="let section of ele.sections" class="section">
                        <div *ngIf="section.start || section.end" class="year">
                            <div class="years-section">
                                <div *ngIf="section.start" class="year-section">{{ section.start }} -</div>
                                <div *ngIf="section.end" class="year-section">{{ section.end }}</div>
                            </div>
                        </div>
                        <div class="section-content">
                            <div class="title">
                                {{ section.title }}
                            </div>
                            <div *ngIf="section.subTitle" class="sub-title">
                                {{ section.subTitle }}
                            </div>
                            <div class="list-items">
                                <div *ngFor="let item of section.listItems" class="list-item">
                                    <div class="bullet">
                                        &#8226;
                                    </div>
                                    <div class="list-item-text">
                                        {{ item }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
