@import '../variables.scss';

$printWidth: 8.5in;
$printHeight: 11in;

.container {
    display: flex;

    min-width: 100vw;
    min-height: 100vh;

    width: $printWidth + 1in;
    height: $printHeight + 1in;

    align-items: center;
    justify-content: center;
}

.outer {
    width: $printWidth;
    height: $printHeight;

    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: 2px;
    overflow: hidden;
}

.inner {
    background: $color950;

    display: flex;

    width: 100%;
    height: 100%;

    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    vertical-align: baseline;
}

.side-panel {
    background: $color100;
    color: $color850;

    .name {
        color: $color900;
        font-size: $font6;
        line-height: 1;
        font-weight: 400;

        padding: $padding $padding 0;
        
        display: flex;
        flex-direction: column;

        span {
            padding-bottom: calc(#{$padding} / 2);
        }
        span:last-child {
            padding-bottom: 0;
        }
    }

    .title {
        font-size: $font5;
        line-height: 1;
        padding: $padding;
        font-weight: 600;

        display: flex;
        flex-direction: column;
        
        span {
            padding-bottom: calc(#{$padding} / 2);
        }
        span:last-child {
            padding-bottom: 0;
        }
    }

    .header {
        background: $color0;
        font-size: $font4;
        line-height: 1;
        padding: calc(#{$padding} / 2) $padding;
        font-weight: 700;
    }

    .item-group {
        padding: calc(#{$padding} * 3 / 4) $padding 0;
    }

    .item-group:last-child {
        padding: calc(#{$padding} * 3 / 4) $padding calc(#{$padding} * 3 / 4);
    }
}

.main-panel {
    flex-grow: 2;

    width: 100%;// IE Support

    .desc {
        padding: ($padding * 3 / 4) $padding;
    }

    .header {
        border-top: 1px solid $color750;
        border-bottom: 1px solid $color750;

        font-size: $font4;
        line-height: 1;

        padding: calc(#{$padding} / 2) 0;
        margin: 0 $padding;
        font-weight: 700;
    }

    .section {
        display: flex;
        flex-direction: row;
        padding-top: $padding * 1.5;
    }
    
    .section:last-child {
        padding-bottom: $padding;
    }

    .section-content {
        flex-grow: 1;
        width: 100%; // IE Support
    }

    .title {
        display: flex;
        padding: 0 $padding ($padding/2);
        font-size: $font3;
        line-height: 1;

        .main {
            font-size: $font3;
            line-height: 1;
            font-weight: 700;
            
            flex-grow: 2;

            white-space: pre-line;
        }
    }

    .sub-title {
        font-size: $font2;
        font-style: italic;
        line-height: 1;
        padding: 0 $padding $padding;
        font-weight: 500;
    }

    .list-item {
        display: flex;
        flex-direction: row;
        padding: 0 $padding;
    }

    .bullet {
        padding-right: $padding;
        font-weight: 1000;
    }

    .list-item-text {
        flex-grow: 2;
    }
}

.icon {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;

    height: 250px;
    width: 250px;
    // background: green;// To help with cropping transparency
    
    opacity: .15;

    .m {
        color: white;
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 154px;
        transform: translate(-50%, -50%);
        font-weight: 900;
    }

    pointer-events: none;
}

@media print {
    .outer, .inner {
        width: 100%;
        height: 100%;

        box-shadow: none;
        border-radius: 0;
        overflow: hidden;
    }

    .icon {
        display: none;
    }
}

// // For testing padding, margins, line-height
// * {
//     box-sizing: border-box;
//     border: 1px solid rgba(255, 0, 125, .5);
// }
