$color0: #1F2124;
$color50: #2a2c2f;
$color100: #35373a;
$color150: #414245;
$color200: #4c4d50;
$color250: #57595b;
$color300: #626466;
$color350: #6d6f71;
$color400: #797a7c;
$color450: #848587;
$color500: #8f9092;
$color550: #9a9b9c;
$color600: #a5a6a7;
$color650: #b1b1b2;
$color700: #bcbcbd;
$color750: #c7c8c8;
$color800: #d2d3d3;
$color850: #dddede;
$color900: #e9e9e9;
$color950: #f4f4f4;
$color1000: #ffffff;

$padding: 10.5pt;

$font1: 10.5pt;
$font2: 11pt;
$font3: 12pt;
$font4: 14pt;
$font5: 15pt;
$font6: 24pt;
